pkgbase = gradience
	pkgdesc = Change the look of Adwaita, with ease
	pkgver = 0.8.0_beta4
	pkgrel = 1
	url = https://github.com/hydroxycarbamide/Gradience
	install = xdg-config.install
	arch = x86_64
	license = GPL3
	checkdepends = appstream-glib
	makedepends = meson
	makedepends = blueprint-compiler
	makedepends = gobject-introspection
	makedepends = sassc
	depends = libadwaita
	depends = libsoup3
	depends = python-gobject
	depends = python-anyascii
	depends = python-libsass
	depends = python-lxml
	depends = python-pillow
	depends = python-pluggy
	depends = python-svglib
	depends = libportal-gtk4
	depends = python-jinja
	optdepends = adw-gtk-theme: LibAdwaita Theme for all GTK3 and GTK4 Apps.
	source = git+https://github.com/hydroxycarbamide/Gradience.git#tag=0.8.0-beta4
	sha512sums = SKIP

pkgname = gradience
